<%= content_for :head do %>
	<%= javascript_include_tag "modal" %>
<% end %>


<div class="addEventButton">
	<button id="triggerModal" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	  <i class="material-icons">add</i>
	  <div class="mdl-tooltip" for="triggerModal">Add Your Marker</div>
	</button>
</div>




<div id="map-canvas">
	
</div>

<script type="text/javascript">

var myModal = new Modal({
  content: "<div><form>\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo'>\
			<input class='mdl-textfield__input' type='text' id='form_event_type'/>\
			<label class='mdl-textfield__label'>Type of Event</label>\
		</div><br />\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo'>\
			<input class='mdl-textfield__input' type='text' id='form_title'/>\
			<label class='mdl-textfield__label'>Title</label>\
		</div><br />\
		<div class='mdl-textfield mdl-js-textfield textfield-demo'>\
			<textarea class='mdl-textfield__input' type='text' rows= '3' id='form_body' ></textarea>\
			<label class='mdl-textfield__label'>Content for you event!</label>\
		</div>\
		<div class='mdl-textfield mdl-js-textfield textfield-demo'>\
			<textarea class='mdl-textfield__input' type='text' rows= '3' id='form_address' ></textarea>\
			<label class='mdl-textfield__label'>Address for your event</label>\
		</div>\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>\
			<input class='mdl-textfield__input' type='text' id='form_starts'/>\
			<label class='mdl-textfield__label'>Start Time &amp; Date</label>\
		</div>\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo'>\
			<input class='mdl-textfield__input' type='text' id='form_ends'/>\
			<label class='mdl-textfield__label'>End Time &amp; Date</label>\
		</div>\
	</form>\
	<button id='submitMarkerData' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>\
		Add Event</button></div>"
});


var openModal = function(modal){
	modal.open();
};

var addEventButton = document.getElementById('triggerModal');
addEventButton.addEventListener("click", function(e){
	e.preventDefault();

	openModal(myModal);
});

</script>





<%= content_for :footer_script_includes do %>

	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKWdxhqR0y7mTGGbUCtOxmMKAXzFpJrIg">
    </script>
	<%= javascript_include_tag "map/map-marker-list" %>
	<%= javascript_include_tag "map/mapper" %>
	<%= javascript_include_tag "map/map-options" %>
	<%= javascript_include_tag "map/map-load" %>
<% end %>