<%= content_for :head do %>
	<%= javascript_include_tag "modal" %>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKWdxhqR0y7mTGGbUCtOxmMKAXzFpJrIg&libraries=places">
    </script>
<% end %>





<div class="addEventButton">
	<button id="triggerModal" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	  <i class="material-icons">add</i>
	  <div class="mdl-tooltip" for="triggerModal">Add Your Marker</div>
	</button>
</div>



<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col sidebar">
		<div id="event-details">
			<h4>Click on a Event on map to see details</h4>
		</div>
	</div>


	<div class="mdl-cell mdl-cell--8--col">
		
		<div id="map-canvas" class="mdl-cell mdl-cell--12-col"></div>
	</div>
</div>









<script type="text/javascript">

var myModal = new Modal({
  content: "<div><form>\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo'>\
			<input class='mdl-textfield__input' type='text' id='form_event_type'/>\
			<label class='mdl-textfield__label'>Type of Event</label>\
		</div><br />\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo'>\
			<input class='mdl-textfield__input' type='text' id='form_title'/>\
			<label class='mdl-textfield__label'>Title</label>\
		</div><br />\
		<div class='mdl-textfield mdl-js-textfield textfield-demo'>\
			<textarea class='mdl-textfield__input' type='text' rows= '3' id='form_description' ></textarea>\
			<label class='mdl-textfield__label'>Content for you event!</label>\
		</div>\
		<div class='mdl-textfield mdl-js-textfield textfield-demo'>\
			<textarea class='mdl-textfield__input' type='text' rows= '3' id='form_address' ></textarea>\
			<label class='mdl-textfield__label'>Address for your event</label>\
		</div>\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>\
			<input class='mdl-textfield__input' type='text' id='form_starts'/>\
			<label class='mdl-textfield__label'>Start Time &amp; Date</label>\
		</div>\
		<div class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo'>\
			<input class='mdl-textfield__input' type='text' id='form_ends'/>\
			<label class='mdl-textfield__label'>End Time &amp; Date</label>\
		</div>\
	</form>\
	<button id='submitEventData' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>\
		Add Event</button></div>"
});


var openModal = function(modal){
	modal.open();
};

var addEventButton = document.getElementById('triggerModal');
addEventButton.addEventListener("click", function(e){
	e.preventDefault();

	openModal(myModal);

	var input_address = document.getElementById('form_address');
	var options = {componentRestrictions: {country: 'in'}};

	new google.maps.places.Autocomplete(input_address, options);
    
	// var autocomplete = new 
	// var autocomplete = new google.maps.places.Autocomplete(input_address, 'place_changed', function(){
	// 	var place = autocomplete.getPlace();
	// 	console.log("beore");
	// 	console.log(place.geometry.location);
	// });
	// console.log(autocomplete);
	// var place = autocomplete.getPlace();
       
 //        console.log(place.geometry.location);



	var submitEventData = document.getElementById('submitEventData');
	submitEventData.addEventListener("click", function(e){
		e.preventDefault();


		var event_type = document.getElementById('form_event_type').value,
			title = document.getElementById('form_title').value,
			description = document.getElementById('form_description').value,
			address = document.getElementById('form_address').value,
			starts_datetime = document.getElementById('form_starts').value,
			expires_datetime = document.getElementById('form_ends').value;

		// Geocoding the address
	 	geocoder = new google.maps.Geocoder();
		geocoder.geocode({'address':address}, function(result, status){
			if(status == google.maps.GeocoderStatus.OK){
				var location = result[0].geometry.location;
				var lat = String(location.lat());
				var lng = String(location.lng());
				var dotlat = lat.indexOf(".");
				var dotlng = lng.indexOf(".");
				lat = parseFloat(lat.substring(0, dotlat+7));
				lng = parseFloat(lng.substring(0, dotlng+7));



				$.ajax({
					url: "<%= events_path %>",
					type: 'post',
					data: {
						event: {
							event_type: event_type,
							title: title,
							description: description,
							address: address,
							starts_datetime: starts_datetime,
							expires_datetime: expires_datetime,
							lat: lat,
							lng: lng
						}
					},
					dataType: 'JSON',
					success: function(data){
						// console.log(data);
						myModal.close();

						// Putting the data onto map
						window.map.addMarker({
							lat: parseFloat(data.lat),
							lng: parseFloat(data.lng),
							event_id: data[i].id,
							marker_type: data.event_type,
							icon: "images/markers/" + data.event_type + ".png",
							draggable: true,
							content: "<div class='title'>" + data.title + "</div><div class='body'>" + data.description  + "</div>"
						});
					},
					error: function(data){
						console.log(data);
					}
				});	
			}
		});
	});
});



var fetch = function(event_type){
	$.ajax({
		url: "<%= maps_path %>",
		type: 'post',
		data: {
			fetch: event_type
		},
		dataType: 'JSON',
		success: function(data){
			var i=0;
			for(; i<data.length; i++){
				window.map.addMarker({
					lat: parseFloat(data[i].lat),
					lng: parseFloat(data[i].lng),
					event_id: data[i].id,
					marker_type: data[i].event_type,
					icon: "images/markers/" + data[i].event_type + ".png",
					draggable: true,
					content: "<div class='title'>" + data[i].title + "</div><div class='body'>" + data[i].description  + "</div>"
				});
			}
		},
		error: function(data){
			console.log(data);
		}
	});
};

fetch("all");



var loadEventDetails = function(marker){
	// console.log(marker.event_id); 
	event_id = marker.event_id;

	$.ajax({
		url: "<%= maps_loadDetails_path %>",
		type: 'post',
		data: {
			event_id: event_id
		},
		dataType: 'JSON',
		success: function(data){
			var eventDetails = document.getElementById("event-details");
			eventDetails.innerHTML = "";

			var title = document.createTextNode(data.title),
				description = document.createTextNode(data.description);

			var h4 = document.createElement("h4"),
				desc = document.createElement("div");
				h4.appendChild(title);
				desc.appendChild(description);

				eventDetails.appendChild(h4);
				eventDetails.appendChild(desc);

		}, error: function(data){
			console.log(data);
		}
	})
};
</script>





<%= content_for :footer_script_includes do %>
	<%= javascript_include_tag "map/map-marker-list" %>
	<%= javascript_include_tag "map/mapper" %>
	<%= javascript_include_tag "map/map-options" %>
	<%= javascript_include_tag "map/map-load" %>
<% end %>